.feynman__link {
  position: absolute;
  font-size: 36px;
  line-height: 51px;
  color: #2f80ed;
  text-decoration: none;
  right: 48px;
  top: 50%;
  transition: opacity .5s linear;
}

.feynman__link:hover {
  opacity: 0.6;
}
