.resources__logo_company_strelka {
  background-image: url(../../../../images/logo/resources-strelka.svg);
  background-repeat: no-repeat;
  transition: opacity 0.2s linear;
  background-position: center;
}
