.resources__logo_company_arzamas {
  background-image: url(../../../../images/logo/resources-arzamas.svg);
  background-repeat: no-repeat;
  transition: opacity 0.2s linear;
  background-position: center;
}
