.resources__logo_company_nplus {
  background-image: url(../../../../images/logo/resources-n1.svg);
  background-repeat: no-repeat;
  transition: opacity 0.2s linear;
  background-position: center;
}
