.khan__buy-link {
  margin-left: 48px;
  color: #2f80ed;
  font-size: 30px;
  line-height: 42px;
  font-weight: normal;
  text-decoration: none;
  transition: opacity 0.5s linear;
}

.khan__buy-link:hover {
  opacity: 0.6;
}
